fastapi == version "0.111.0"
MongoDb == version "7.0.9",
pymongo == version  "4.7.2"
uvicorn == version  "0.29.0"
lochalhost == http://127.0.0.1:8000

POST, PUT : http://127.0.0.1:8000/dodaj-zahtjev
{
    "korisnikEmail": "",
    "KategorijaUsluga": "",
    "vrstaCiscenja": "",
    "opis": "",
    "datum": "",
    "vrijeme": "",
    "komentar": ""
}


GET : http://127.0.0.1:8000/zahtjevi - dohvaćanje zahtjeva 

DELETE : http://127.0.0.1:8000/zahtjevi / {zahtjevi_id}

POST PUT : http://127.0.0.1:8000/dodaj-ugovor


{
    "ime_prezime": "",
    "broj_narudžbe": 12345,
    "naziv_servisa": "",
    "datum_ugovora": "",
    "stavke": ""

}


POST PUT : http://127.0.0.1:8000/dodaj-uslugu

{   "naziv_usluge": "",
    "cijena_usluge": "",
    "opis": ""
}



